.file-content {
  margin-top: 15px;
  border: 1px solid #f0f0f0;
}

.file-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
}

.file-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.caracteres35 {
  max-width: 35ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.semLimiteCaracteres {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
