<p-card>
  <p-toast />
  <ng-template pTemplate="title">
    <h2>Informações do Apontamento</h2>
  </ng-template>


  <ng-template pTemplate="content">
    <div class="grid">

      <div class="col-3">

        <h5 class="text-xs text-gray-500">Data do Apontamento</h5>
        <p-dropdown [options]="colaborador?.datasApontamento || []"   optionLabel="DData" (onChange)="selecionarData($event)" placeholder="Selecione uma data" [disabled]="desabilitar" [emptyMessage]="'Nenhum item disponível'"></p-dropdown>
      </div>


        <div class="col-3">
        <h5 class="text-xs text-gray-500">Marcações do Dia</h5>
        <p class="mb-0 mt-1 text-base">
          {{data?.ABatidasPonto || ''}}
        </p>

      </div>

      </div>
      <br/>

      <div class="grid" *ngIf="data">
        <div class="col-3">
      <p-button label="Adicionar" (click)="adicioanrLinha()" [disabled]="desabilitar"/>
    </div>
    </div>



  <div class="card">
    <p-messages [(value)]="mensagemErroSomatoria" [enableService]="false"  [closable]="false"  *ngIf="validarTotalHoras()"/>
    <p-messages [(value)]="mensagemErroAfastamento" [enableService]="false"  [closable]="false"  *ngIf="validarDataAfastado()"/>
    <p-messages [(value)]="mensagemErroMesmoProjeto" [enableService]="false"  [closable]="false"  *ngIf="validarProjetoRepetido()"/>
  </div>


      <p-table [value]="listaApontamentosAtual" dataKey="id" styleClass="p-datatable-lg" [scrollable]="true" scrollHeight="4000px" *ngIf="data"  >
        <ng-template pTemplate="header" >
            <tr>
                <th style="width:33%">Projeto</th>
                <th style="width:33%">Quantidade de Horas</th>
                <th style="width:33%">Excluir</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-apontamento let-index="rowIndex" let-editing="editing">
          <tr>
                <td [pEditableColumn]="apontamento.NCodigoProjeto" pEditableColumnField="NCodigoProjeto">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                            <p-dropdown [options]="colaborador?.projetos || []" optionLabel="label"  placeholder="Selecione um projeto"
                            [(ngModel)]="apontamento.NCodigoProjeto" optionValue="NCodigoProjeto" [filter]="true" filterBy="ADescricaoProjeto" appendTo="body"
                            [disabled]="apontamento.excluido || desabilitar" [emptyMessage]="'Nenhum item disponível'">
                          </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ labelProjeto(apontamento.NCodigoProjeto) || 'Selecione um Projeto' }}
                    </ng-template>
                </p-cellEditor>
                </td>

                <td [pEditableColumn]="apontamento.quantidadeHoras" pEditableColumnField="NQuantidade">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                            <p-calendar
                            inputId="calendar-timeonly"
                            [(ngModel)]="apontamento.quantidadeHoras"
                            [timeOnly]="true"
                            [disabled]="apontamento.excluido || desabilitar"
                            (ngModelChange)="atulizarFormatacaoQuantidadeHoras(index)"
                            appendTo="body"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ apontamento.quantidadeFormatado }}
                    </ng-template>
                </p-cellEditor>
                </td>
                <td *ngIf="apontamento?.incluido" >  <p-button  severity="danger" label="Excluir"  (click)="botaoExcluir(index)" [disabled]="desabilitar"/></td>
                <td *ngIf="!apontamento?.incluido">  <p-inputSwitch (onChange)="botaoExcluirExistente(index)" [disabled]="desabilitar"/></td>
            </tr>
        </ng-template>
    </p-table>


    <br/>
    <div class="col-12 flex flex-column align-items-end">
      <button
      pButton
      pRipple
      (click)="enviar()"
      label="Gravar"
      [disabled]="desabilitar"
      class="p-button-success">
  </button>
</div>
  </ng-template>

</p-card>
