<nz-card nzTitle="Dados do Solicitante" style="margin-top: 15px" nzBorderless>
  <nz-spin [nzSpinning]="isLoading">
    <form
      nz-form
      [formGroup]="formDadosPlanoVida"
      [nzLayout]="'vertical'"
      autocomplete="off"
    >
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="plano">Plano Seguro de Vida:</nz-form-label>

            <nz-form-control>
              <input nz-input formControlName="plano" id="plano" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="operadora">Operadora:</nz-form-label>

            <nz-form-control>
              <input nz-input formControlName="operadora" id="operadora" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form> </nz-spin
></nz-card>
