<app-dados-solicitante></app-dados-solicitante>
<app-dados-colaborador
  [hidden]="solicitacaoPorColaborador"
></app-dados-colaborador>
<app-dados-desligamento></app-dados-desligamento>
<nz-card style="margin-top: 15px" nzTitle="Observações" nzBorderless>
  <app-observacao
    label="Observação do Solicitante"
    #observacaoComponentSolicitante
  ></app-observacao>
  <app-observacao
    label="Observação do Gestor Imediato"
    #observacaoComponentGestor
  ></app-observacao>
  <app-observacao
    [hidden]="caminhoValidacao != 'bp' && caminhoSolicitacao != 'bp'"
    label="Observação do BP"
    #observacaoComponentBp
  ></app-observacao>
</nz-card>
