<app-loading [loading]="carregandoInformacoes()">
  <p-toast />
  <app-informacoes-colaborador
    [informacoesColaborador]="informacoesColaborador()"
  ></app-informacoes-colaborador>

  <app-busca-colaboradores
    [hidden]="solicitante?.AEhGestor != 'S'"
    (colaboradorSelecionadoEmit)="receberColaboradorSelecionado($event)"
  ></app-busca-colaboradores>
  <app-apontamento-horas
    (enviarSolicitacao)="enviarSolicitacao()"
    (enviarHorasAdicionais)="gravarHorasAdicionais($event)"
  ></app-apontamento-horas>
</app-loading>
