<nz-card nzTitle="Dados do Solicitante" style="margin-top: 15px" nzBorderless>
  <nz-spin [nzSpinning]="isLoading">
    <form
      nz-form
      [formGroup]="formDadosSolicitante"
      [nzLayout]="'vertical'"
      autocomplete="off"
    >
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="solicitante">Matrícula/Nome:</nz-form-label>

            <nz-form-control>
              <input nz-input formControlName="solicitante" id="solicitante" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="empresaSolicitante">Empresa:</nz-form-label>

            <nz-form-control>
              <input
                nz-input
                formControlName="empresaSolicitante"
                id="empresaSolicitante"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="filialSolicitante">Filial:</nz-form-label>

            <nz-form-control>
              <input
                nz-input
                formControlName="filialSolicitante"
                id="filialSolicitante"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="postoSolicitante"
              >Posto de Trabalho:</nz-form-label
            >

            <nz-form-control>
              <input
                nz-input
                formControlName="postoSolicitante"
                id="postoSolicitante"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div
        nz-row
        [nzGutter]="24"
        *ngIf="(solicitante?.AEhGestor || solicitante?.AEhRhu) && (solicitante?.AEhGestor != 'S' && solicitante?.AEhRhu != 'S')"
      >
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="centroCustoSolicitante"
              >Centro de Custo:</nz-form-label
            >

            <nz-form-control>
              <input
                nz-input
                formControlName="centroCustoSolicitante"
                id="centroCustoSolicitante"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="DDataAdmissao"
              >Data de Admissão:</nz-form-label
            >

            <nz-form-control>
              <input
                nz-input
                formControlName="DDataAdmissao"
                id="DDataAdmissao"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="solicitantePcd"
              >Colaborador PCD:</nz-form-label
            >

            <nz-form-control>
              <input
                nz-input
                lab
                formControlName="solicitantePcd"
                id="solicitantePcd"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="cargoSolicitante">Cargo:</nz-form-label>

            <nz-form-control>
              <input
                nz-input
                formControlName="cargoSolicitante"
                id="cargoSolicitante"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          [nzSpan]="6"
          *ngIf="causaDesligamento >= 12 && this.causaDesligamento <= 14"
        >
          <nz-form-item>
            <nz-form-label nzFor="DDataTermino"
              >Data Término Contrato:</nz-form-label
            >

            <nz-form-control>
              <input
                nz-input
                formControlName="DDataTermino"
                id="DDataTermino"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="solicitantePom"
              >Colaborador POM:</nz-form-label
            >

            <nz-form-control>
              <input
                nz-input
                lab
                formControlName="solicitantePom"
                id="solicitantePom"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="AEstabilidade">Estabilidade:</nz-form-label>

            <nz-form-control>
              <input
                nz-input
                lab
                formControlName="AEstabilidade"
                id="AEstabilidade"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="dataAso">Data do Ultimo ASO:</nz-form-label>

            <nz-form-control>
              <input nz-input lab formControlName="dataAso" id="dataAso" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-alert
        *ngIf="comErro"
        nzType="error"
        nzMessage="Atenção"
        [nzDescription]="mensagemErro"
        nzShowIcon
      ></nz-alert>
    </form> </nz-spin
></nz-card>
