<nz-card nzTitle="Dados do Solicitante" style="margin-top: 15px" nzBorderless>
  <nz-spin [nzSpinning]="isLoading">
    <form
      nz-form
      [formGroup]="formDadosSolicitante"
      [nzLayout]="'vertical'"
      autocomplete="off"
    >
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="solicitante">Matrícula/Nome:</nz-form-label>

            <nz-form-control>
              <input
                disabled
                nz-input
                formControlName="solicitante"
                id="solicitante"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="DDataAdmissao">Data Admissão:</nz-form-label>

            <nz-form-control>
              <input
                nz-input
                disabled
                formControlName="DDataAdmissao"
                id="DDataAdmissao"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="posto">Posto de Trabalho:</nz-form-label>

            <nz-form-control>
              <input nz-input disabled formControlName="posto" id="posto" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="empresa">Empresa:</nz-form-label>

            <nz-form-control>
              <input nz-input disabled formControlName="empresa" id="empresa" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="filial">Filial:</nz-form-label>

            <nz-form-control>
              <input nz-input disabled formControlName="filial" id="filial" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="centroCusto">Centro de Custo:</nz-form-label>

            <nz-form-control>
              <input
                nz-input
                disabled
                formControlName="centroCusto"
                id="centroCusto"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form> </nz-spin
></nz-card>
