<nz-card nzTitle="Dados do Desligamento" style="margin-top: 15px" nzBorderless>
  <nz-spin [nzSpinning]="isLoading">
    <form
      nz-form
      [formGroup]="formDadosDesligamento"
      [nzLayout]="'vertical'"
      autocomplete="off"
    >
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzFor="nCausaDemissao"
              >Causa da Demissão:</nz-form-label
            >

            <nz-form-control nzErrorTip="Campo obrigatorio">
              <nz-select
                formControlName="nCausaDemissao"
                id="nCausaDemissao"
                nzShowSearch
                nzPlaceHolder="Selecione um cauda de demissão"
                (ngModelChange)="emitirCausaDemissao($event)"
              >
                <nz-option
                  *ngFor="let o of motivosDesligamento?.causaDemissao"
                  [nzValue]="o.NCodigo"
                  [nzLabel]="o.NCodigo + ' - ' + o.ADescricao"
                ></nz-option> </nz-select
            ></nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="4" *ngIf="valueForm?.nCausaDemissao == '1' ">
          <nz-form-item>
            <nz-form-label nzFor="validacaoJuridico"
              >Validação Juridico</nz-form-label
            >

            <nz-form-control nzErrorTip="Campo obrigatorio">
              <nz-select
                formControlName="validacaoJuridico"
                id="validacaoJuridico"
                nzShowSearch
                nzPlaceHolder="Sim/Não"
              >
                <nz-option nzValue="S" nzLabel="Sim"></nz-option>
                <nz-option nzValue="N" nzLabel="Não"></nz-option> </nz-select
            ></nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label nzFor="nMotivoDesligamento"
              >Motivo do Desligamento:</nz-form-label
            >

            <nz-form-control nzErrorTip="Campo obrigatorio">
              <nz-select
                formControlName="nMotivoDesligamento"
                id="nMotivoDesligamento"
                nzShowSearch
                nzPlaceHolder="Selecione um motivo para o desligamento"
              >
                <nz-option
                  *ngFor="let o of motivosDesligamento?.motivoDesligamento"
                  [nzValue]="o.NCodigo"
                  [nzLabel]="o.NCodigo + ' - ' + o.ADescricao"
                ></nz-option> </nz-select
            ></nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="nAvisoPrevio">Aviso Prévio:</nz-form-label>

            <nz-form-control nzErrorTip="Campo obrigatorio">
              <nz-select
                formControlName="nAvisoPrevio"
                id="nAvisoPrevio"
                nzShowSearch
                nzPlaceHolder="Selecione um motivo para o desligamento"
                (ngModelChange)="obrigatoriedadeDataDesligamento()"
              >
                <nz-option
                  *ngFor="let o of listaAvisoPrevio"
                  [nzValue]="o.NCodigo"
                  [nzLabel]="o.NCodigo + ' - ' + o.ADescricao"
                ></nz-option> </nz-select
            ></nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          [nzSpan]="6"
          *ngIf="['2', '4', '27', '28'].includes(valueForm?.nCausaDemissao)"
        >
          <nz-form-item>
            <nz-form-label nzFor="dataAvisoPrevio"
              >Data do Aviso Prévio:</nz-form-label
            >
            <nz-form-control [nzErrorTip]="avisoPrevioErrorTpl">
              <app-date-picker-custom
                formControlName="dataAvisoPrevio"
                nzFormat="dd/MM/yyyy"
                (ngModelChange)="obrigatoriedadeDataDesligamento()"
              ></app-date-picker-custom>

              <ng-template #avisoPrevioErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Campo obrigatório
                </ng-container>

                <ng-container
                  *ngIf="control.hasError('avisoPrevioAntesDemissao')"
                >
                  O aviso deve ser antes da data de desligamento
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="dataDemissao"
              >Data de Demissão:</nz-form-label
            >

            <nz-form-control nzErrorTip="Campo obrigatorio">
              <app-date-picker-custom
                #dataDesligamentoComponent
                formControlName="dataDemissao"
                nzFormat="dd/MM/yyyy"
                (ngModelChange)="dataDemissaoPreenchida()"
              ></app-date-picker-custom>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-label nzFor="dataPagamento"
              >Data do Pagamento:</nz-form-label
            >

            <nz-form-control nzErrorTip="Campo obrigatorio">
              <app-date-picker-custom
                formControlName="dataPagamento"
                nzFormat="dd/MM/yyyy"
              ></app-date-picker-custom>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item style="display: block">
            <nz-form-control>
              <app-file-upload
                formControlName="anexoDocumento"
                id="anexoDocumento"
                titulo="Anexo Documento"
              ></app-file-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-alert
        *ngIf="comErroDataBase"
        nzType="error"
        nzMessage="Atenção"
        nzDescription="Prezado! Essa solicitação não poderá seguir pois o desligamento está no período que antecede a data base do sindicato docolaborador"
        nzShowIcon
      ></nz-alert>
    </form> </nz-spin
></nz-card>
